.error_page_box {
  background-color: #000;
  background-image: url(/assets/images/background-outside.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.error_page_box h1 {
  color: #FFF;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 55px;
  position: relative;
  text-align: center;
  top: 75px;
}

.error_page_inner_box {
  text-align: center;
  margin: 100px auto 0px;
  max-width: 450px;
  width: 100%;
}

.error_page_inner_box span a {
  color: transparent;
  display: inline-block;
  font-size: 100px;
  font-weight: bold;
  margin: 50px 10px 0 0;
  letter-spacing: 5px;
  text-decoration: none;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.error_page_inner_box p {
  color: #FFF;
  font-size: 24px;
  margin-top: 65px;
  letter-spacing: 1.4pt;
}

.error_page_span_mobile {
  display: none;
}

.error_page_inner_box a {
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
}