
html {
  height: 100%;
}

body {
  min-height: 100%;
  /* height: 100%; */
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0;
}

.ecash-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
}

.ecash-container > div {
  min-height: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
